@using RouterManagement.Data
@using RouterManagement.Data.Models
@typeparam TModel
@inherits Microsoft.AspNetCore.Components.ComponentBase

<div class="d-flex align-center w-100">
    @if (!isEditing)
    {
        <div class="flex-grow-1">@CurrentValue</div>
        <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Color="Color.Primary" OnClick="ToggleEdit" />
    }
    else
    {
        <MudTextField @bind-Value="newValue" T="string" Margin="Margin.Dense" Variant="Variant.Outlined" Class="mr-2" />
        <MudIconButton Icon="@Icons.Material.Filled.Check" Size="Size.Small" Color="Color.Success" OnClick="Update" />
        <MudIconButton Icon="@Icons.Material.Filled.Close" Size="Size.Small" Color="Color.Error" OnClick="CancelEdit" />
    }
</div>

@code {
    private bool isEditing = false;

    [Parameter]
    public string CurrentValue { get; set; }

    [Parameter]
    public string EditInitialValue { get; set; }

    [Parameter]
    public TModel Model { get; set; }

    [Parameter]
    public EventCallback<TextEditorUpdateModel<TModel>> OnValueUpdated { get; set; }

    private string newValue;

    private void ToggleEdit()
    {
        if (!isEditing)
        {
            isEditing = true;
            newValue = EditInitialValue;
        }
        else
        {
            isEditing = false;
            newValue = null;
        }
    }

    private void CancelEdit()
    {
        isEditing = false;
        newValue = null;
    }

    private async Task Update()
    {
        if (newValue != null)
        {
            // Notify the parent component about the new value
            await OnValueUpdated.InvokeAsync(new TextEditorUpdateModel<TModel>() { Model = Model, NewValue = newValue });

            isEditing = false;
            newValue = null;
        }
    }
}
